h1{
  text-align: top;
  
  
  }
body{
   background-color: #014;
}
header{background: url(https://learn.logikaschool.com/uploads/student/5006322/681a3b09e0f2e.jpg);
  padding: 200px;
  text-align:center;
  color:white;
}
  
h2{
  color:#0b6906;
}
img{
  width:300px;
}



